.message-me-section {
    min-height: 100vh;
  
}

.box-message-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

input {
    display: block;
    width: 300px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    display: block;
    width: 1024px;
    height: 200px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}

button {
    display: block;
    width: 150px;
    padding: 10px;
    margin: 20px auto;
    background-color: #FD6F00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


